/* .latest-section{
    max-width: 1140px;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
   
}

.first-part{
    background-image: url('/images/deal-bloom.png');
    width: 366px;
    height: 206px;
    margin-bottom: 25px;
}
.second-part{
    background-image: url('/images/deal-ana.png');
    width: 366px;
    height: 206px;
}
.third-part{
    background-image: url('/images/deal-zabo.png');
    height: 423px;
   
} */



